.container{
    align-items: center;
    margin: 10px 300px;
}
body {
    align-items: center;
    min-height: 100vh;
    background-color: #6190e8;
    color: #3b2f33;
}

h1{
    text-align: center;
    font-size: 30px;
    /*5.625rem is equals to 90px*/
    margin: 30px auto 0px auto;
    color: #1f2f6f;
    font-family: 'Sacramento', cursive;
}
p {
    text-align: center;
}

h3 {
    text-align: center;
    color: #1f2f6f;
    margin-top: 10px;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}
li {
    font-style: italic;
}